*{
	padding: 0px;
	margin: 0px;
}
body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #4169E1;
}
#menu ul{
	margin: 0px;
	background-color: #b7e2e8;
	list-style: none;
	box-shadow: 15px 0px 15px black;
	border-radius: 0px 0px 5px 5px;
}
#menu ul li{
	display: inline;
}
#menu ul li a{
	padding: 15px 25px 20px 25px;
	display: inline-block;
	color: white;
	text-decoration: none;
	margin-left: 0px;
	text-shadow: 1px 0px 5px black;
	font-weight: bold;
	font-family: arial;

}
#menu ul li a:hover{
	color: white;
	background: gray;
	transition: 0.5s;
	text-transform: none;
	border-radius: 0px 0px 5px 5px;
}
#titulo h1{
	margin-top: 20px;
	color: white;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	size: 500px;
}
#centro img{
	margin-top: 45px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
#coluna{
	display: block;
	background-color: #4B0082;
	width: 1250px;
	height: 200px;
	margin-top: 100px;
	margin-bottom: 45px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border-radius: 10px;
	text-align: justify;
	box-shadow: 5px 0px 15px black;
}
p{
	font-family: arial; 
	font-weight: 17px;
}